{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="container-fluid mt-5">
        <div class="card mb-4 wow fadeIn">
            <div class="card-body d-sm-flex justify-content-between">
                <h2 class="mb-2 mb-sm-0 pt-1">
                    {{ title }}
                </h2>
            </div>
        </div>
        <div class="row wow fadeIn justify-content-center">
            <div class="col-lg-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="h4 mt-2">
                            Добавить машину
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="/car/add" method="post">
                            <label for="client_id" class="font-weight-light">Владелец</label>
                            <div class="md-form">
                                <select required class="browser-default custom-select" name="client_id" id="client_id">
                                    {% for client in clients %}
                                        <option value="{{ client.id }}">
                                            {{ client.firstname }} {{ client.lastname }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <br>
                            </div>
                            <div class="md-form">
                                <input required type="text" name="mark" id="mark" class="form-control">
                                <label for="mark" class="font-weight-light">Марка</label>
                            </div>
                            <div class="md-form">
                                <input required type="text" name="model" id="model" class="form-control">
                                <label for="model" class="font-weight-light">Модель</label>
                            </div>
                            <div class="md-form">
                                <input required type="text" name="number" id="number" class="form-control">
                                <label for="number" class="font-weight-light">Номер</label>
                            </div>
                            <div class="md-form">
                                <input required type="text" name="vin" id="vin" class="form-control">
                                <label for="vin" class="font-weight-light">VIN</label>
                            </div>
                            <input class="btn btn-cyan waves-effect waves-light" type="submit" value="Добавить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeIn">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="blue-grey lighten-4">
                            <tr>
                                <th scope="col">Владелец</th>
                                <th scope="col">Марка</th>
                                <th scope="col">Модель</th>
                                <th scope="col">Номер</th>
                                <th scope="col">VIN</th>
                                <th scope="col">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for car in cars %}
                                <tr>
                                    <td><a href="{{ path('client_single', {'client': car.client.id}) }}">{{ car.client.firstname }} {{ car.client.lastname }}</a></td>
                                    <td>{{ car.mark}}</td>
                                    <td>{{ car.model }}</td>
                                    <td><a href="{{ path('car_single', {'car': car.id}) }}">{{ car.number }}</a></td>
                                    <td>{{ car.vin }}</td>
                                    <td><a href="{{ path('car_remove', {'car': car.id}) }}">Удалить</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
