{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="container-fluid mt-5">
        <div class="card mb-4 wow fadeIn">
            <div class="card-body d-sm-flex justify-content-between">
                <h2 class="mb-2 mb-sm-0 pt-1">
                    {{ title }}
                </h2>
            </div>
        </div>
        <div class="row wow fadeIn">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Добавить машину
                    </div>
                    <div class="card-body">
                        <form action="/car/add" method="post">
                            <label for="client_id">Владелец</label>
                            <br>
                            <select name="client_id" id="client_id">
                                {% for client in clients %}
                                    <option value="{{ client.id }}">
                                        {{ client.firstname }} {{ client.lastname }}
                                    </option>
                                {% endfor %}
                            </select>
                            <br>
                            <label for="mark">Марка</label>
                            <br>
                            <input type="text" name="mark" id="mark">
                            <br>
                            <label for="model">Модель</label>
                            <br>
                            <input type="text" name="model" id="model">
                            <br>
                            <label for="number">Номер</label>
                            <br>
                            <input type="text" name="number" id="number">
                            <br>
                            <label for="vin">VIN</label>
                            <br>
                            <input type="text" name="vin" id="vin">
                            <br>
                            <input type="submit" value="Добавить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeIn">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="blue-grey lighten-4">
                            <tr>
                                <th scope="col">Владелец</th>
                                <th scope="col">Марка</th>
                                <th scope="col">Модель</th>
                                <th scope="col">Номер</th>
                                <th scope="col">VIN</th>
                                <th scope="col">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for car in cars %}
                                <tr>
                                    <td><a href="{{ path('client_single', {'client': car.client.id}) }}">{{ car.client.firstname }} {{ car.client.lastname }}</a></td>
                                    <td>{{ car.mark}}</td>
                                    <td>{{ car.model }}</td>
                                    <td><a href="{{ path('car_single', {'car': car.id}) }}">{{ car.number }}</a></td>
                                    <td>{{ car.vin }}</td>
                                    <td><a href="{{ path('car_remove', {'car': car.id}) }}">Удалить</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
