{% extends 'base.html.twig' %}

{% block title %}{{ title}}{% endblock %}

{% block main %}
    <div class="container-fluid mt-5">
        <div class="card mb-4 wow fadeIn">
            <div class="card-body d-sm-flex justify-content-between">
                <h2 class="mb-2 mb-sm-0 pt-1">
                    {{ title }}
                </h2>
            </div>
        </div>
        <div class="row wow fadeIn justify-content-center">
            <div class="col-lg-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="h4 mt-2">
                            Добавить клиента
                        </h4>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                            <div class="md-form">
                                {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                                <label for="client_firstname" class="font-weight-light">{{ form.firstname.vars.label }}</label>
                            </div>
                            <div class="md-form">
                                {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                                <label for="client_lastname" class="font-weight-light">{{ form.lastname.vars.label }}</label>
                            </div>
                            <div class="md-form">
                                <label for="client_phone" class="font-weight-light">{{ form.phone.vars.label }}</label>
                                {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <input class="btn btn-cyan waves-effect waves-light" type="submit" value="Добавить">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeIn">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="blue-grey lighten-4">
                            <tr>
                                <th scope="col">Имя</th>
                                <th scope="col">Фамилия</th>
                                <th scope="col">Телефон</th>
                                <th scope="col">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>{{ client.firstname}}</td>
                                    <td>{{ client.lastname }}</td>
                                    <td><a href="{{ path('client_single',{'client': client.id}) }}">{{ client.phone }}</a></td>
                                    <td><a href="{{ path('client_remove', {'client': client.id}) }}">Удалить</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
